@import url("https://fonts.googleapis.com/css2?family=Inter&family=Saira+Condensed:wght@500&display=swap");

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
}
li {
  list-style: none;
}
p {
  font-size: 0.8rem;
}
body {
  min-height: 100vh;
  background: rgb(29, 29, 29);
  color: rgb(250, 250, 250);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
nav ul {
  display: flex;
  width: 50%;
  justify-content: space-between;
}
.header {
  display: flex;
  justify-content: space-around;
  margin: 30px auto;
}
.header-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
h1 {
  font-size: 5rem;
}
.header-left-container h3 {
  color: #474dff;
  font-size: 1.8rem;
}
.header-right {
  width: 50%;
}
#modem {
  width: 100%;
}
.infos {
  display: flex;
  background: rgb(10, 10, 10);
  border-radius: 10px;
}
.infos-left {
  width: 33%;
}
.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
button {
  border: none;
  background: #474dff;
  color: white;
  width: 150px;
  padding: 10px 0;
  border-radius: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 5px;
}
.infos-right {
  width: 67%;
}
.investors {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}
.img-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.img-container img {
  height: 60px;
}
