@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
}
li {
  list-style: none;
}
button {
  border: none;
  background: #474dff;
  color: white;
  width: 150px;
  padding: 10px 0;
  border-radius: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 5px;
}
p {
  font-size: 0.8rem;
}
body {
  min-height: 100vh;
  background: rgb(29, 29, 29);
  color: rgb(254, 254, 254);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
nav ul {
  display: flex;
  width: 50%;
  justify-content: space-between;
}
.header {
  display: flex;
  justify-content: space-around;
  margin: 30px auto;
}
.header-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
}
h1 {
  font-size: 5rem;
}
.header-left-container h3 {
  color: #474dff;
  font-size: 1.8rem;
}
.header-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#modem {
  width: 100%;
  margin: 0 auto;
  display: block;
}
.infos {
  display: flex;
  background: rgb(13, 13, 13);
  border-radius: 10px;
}
.infos-left {
  width: 33%;
}
.btn-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.infos-right {
  width: 67%;
}
.investors {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
}
.img-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.img-container img {
  height: 60px;
  margin: 10px auto;
  display: block;
  object-fit: cover;
}

@media screen and (max-width: 820px) {
  h1 {
    font-size: 2.5rem;
  }
  .header-left-container h3 {
    font-size: 1rem;
  }
  p {
    font-size: 0.7rem;
  }
  .img-container img {
    height: unset;
    width: 20%;
  }
}
@media screen and (max-width: 520px) {
  nav ul {
    font-size: 0.7rem;
    width: 65%;
  }
  .header {
    display: block;
  }
  .header-left,
  .header-right {
    width: 100%;
  }
  #modem {
    width: 60%;
  }
  .infos {
    display: block;
  }
  .infos-left,
  .infos-right {
    width: 100%;
    text-align: center;
  }
  .btn-container {
    text-align: center;
    display: block;
  }
  button {
    margin: 5px auto;
    display: block;
  }
}
