body {
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "yel yel pur"
    "re gre pur"
    "re vio vio";
  gap: 10px;
}

div:nth-child(1) {
  background: yellow;
  grid-area: yel;
}
div:nth-child(2) {
  background: purple;
  grid-area: pur;
}
div:nth-child(3) {
  background: green;
}
div:nth-child(4) {
  background: red;
  grid-area: re;
}
div:nth-child(5) {
  background: violet;
  grid-area: vio;
}
