h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 3rem;
  text-align: center;

  &:after {
    content: "*";
    position: absolute;
    transform: translateY(-6px);
    color: $color1;
  }
  &:hover:after {
    font-size: 2em;
  }
}
