// variables
$color1: rgb(224, 48, 77);
$color2: rgb(244, 192, 96);
$color3: cyan;
$white: rgb(241, 241, 241);
$black: rgb(23, 23, 23);

// mixins
@mixin centerChild {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background: $color2;
}
