@font-face {
  font-family: "inter-bold";
  src: url(../fonts/Inter-ExtraBold.ttf);
}
@font-face {
  font-family: "merri";
  src: url(../fonts/Merriweather-Light.ttf);
}

$font1: inter-bold, sans-serif;
$font2: merri, serif;
$black1: rgb(17, 17, 17);
$white1: rgb(243, 243, 243);
$grey1: rgb(209, 209, 209);
$grey2: rgb(233, 233, 233);
$grey3: rgb(105, 105, 105);

@mixin title {
  font-family: $font1;
  letter-spacing: 2px;
  text-transform: uppercase;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
li {
  list-style: none;
}
a,
a:visited {
  color: $white1;
}
body {
  background: url(../img/bg.jpg) fixed center/cover;
  text-align: center;
  font-family: $font2;
  max-width: 1300px;
  margin: 0 auto;

  &:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: $black1;
    animation: animBefore 1.5s ease forwards;
    animation-delay: 0.15s;

    @keyframes animBefore {
      to {
        opacity: 0;
      }
    }
  }
}
.btn {
  background: none;
  border: 2px solid $black1;
  height: 45px;
  width: 170px;
  font-size: 0.75rem;
  cursor: pointer;
  @include title;
  transition: 0.2s;

  &:hover {
    transform: scale(1.05);
  }
}
