@import "./settings";
@import "./layouts/header";
@import "./layouts/section1";
@import "./layouts/section2";
@import "./layouts/section3";
@import "./layouts/section4";
@import "./layouts/section5";
@import "./layouts/footer";
