@charset "UTF-8";
@font-face {
  font-family: "Allura";
  src: url(../fonts/Allura-Regular.ttf);
}

@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Light.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  text-align: center;
  font-family: Roboto, serif;
  background: #21201e;
}

header {
  background: url(../img/bg-slider-06.jpg) center/cover;
  padding: 0 50px;
  color: #eee;
}

header nav {
  height: 12vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 82% 8%;
      grid-template-columns: 10% 82% 8%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1100px;
  margin: 0 auto;
}

@media screen and (max-width: 680px) {
  header nav {
    -ms-grid-columns: 50% 10% 40%;
        grid-template-columns: 50% 10% 40%;
  }
}

header nav .logo {
  font-family: Allura, cursive;
  font-weight: 100;
  font-size: 2rem;
  text-align: left;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-transform: uppercase;
  font-size: 0.7rem;
  padding: 0 30px;
}

@media screen and (max-width: 680px) {
  header nav ul {
    visibility: hidden;
  }
}

header nav ul li {
  cursor: pointer;
}

header nav .nav-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 0.8rem;
}

header nav .nav-icons i {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

header nav .nav-icons i:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

header .header-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 88vh;
}

header .header-text div {
  margin-top: -150px;
}

header .header-text div h2 {
  font-family: Allura, cursive;
  font-size: 3rem;
  font-weight: 100;
  color: #a67245;
}

header .header-text div h1 {
  font-size: 3.2rem;
  letter-spacing: 10px;
  font-weight: 700;
  margin-top: -28px;
  font-family: Poppins, serif;
}

@media screen and (max-width: 680px) {
  header .header-text div h1 {
    font-size: 2rem;
    margin-top: -15px;
  }
}

header .header-text div img {
  height: 27px;
  margin: 32px 0;
}

header .header-text div h6 {
  font-size: 0.75rem;
  letter-spacing: 6px;
  font-weight: 100;
}

.section1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  background: #eee;
}

@media screen and (max-width: 680px) {
  .section1 {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.section1 .intro-text {
  margin: 15px;
  padding: 30px 15px;
  border: 1px dashed #a67245;
}

.section1 .intro-text h2 {
  color: #a67245;
  font-family: Allura, cursive;
  font-size: 2rem;
  font-weight: 500;
}

.section1 .intro-text h3 {
  margin-top: -12px;
  font-family: Poppins, serif;
}

.section1 .intro-text img {
  margin: 26px;
}

.section1 .intro-text img:nth-of-type(2) {
  height: 70px;
  border-radius: 150px;
  margin-bottom: 8px;
}

.section1 .intro-text h4 {
  font-family: Poppins, serif;
  font-weight: 100;
}

.section1 .intro-text h5 {
  color: #b6b6b6;
  font-size: 0.7rem;
}

.section1 .intro-pic {
  background: url(../img/store-01.jpg) center/cover;
}

@media screen and (max-width: 680px) {
  .section1 .intro-pic {
    display: none;
  }
}

.section2 {
  color: #eee;
  padding-bottom: 100px;
  position: relative;
}

.section2:after {
  content: "";
  position: absolute;
  height: 620px;
  width: 100%;
  background: url(../img/bg-menu-01.jpg) center/cover;
  left: 50%;
  bottom: -330px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.section2 h2 {
  color: #a67245;
  font-size: 2rem;
  font-family: Allura, cursive;
  font-weight: 500;
  padding: 60px 0 30px;
}

.section2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
  margin: 30px auto;
  min-width: 500px;
}

@media screen and (max-width: 680px) {
  .section2 ul {
    min-width: 200px;
    width: 90%;
    font-size: 0.65rem;
  }
}

.section2 ul li {
  border-bottom: 1px solid #b6b6b6;
  padding-bottom: 8px;
}

.section2 .meals {
  background: #eee;
  color: #21201e;
  width: 85%;
  max-width: 800px;
  margin: 0 auto;
  border-top: 4px solid #a67245;
  padding: 15px 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  z-index: 1000;
  position: relative;
}

@media screen and (max-width: 680px) {
  .section2 .meals {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.section2 .meals .meal {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 60% 15%;
      grid-template-columns: 25% 60% 15%;
  border-bottom: 1px dashed #b6b6b6;
  padding: 30px 0;
  margin: 0 20px;
}

.section2 .meals .meal img {
  border-radius: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.section2 .meals .meal .meal-text {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 10px;
  height: 100%;
}

.section2 .meals .meal .meal-text h3 {
  text-transform: uppercase;
  color: #21201e;
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.section2 .meals .meal > p {
  color: #a67245;
  font-weight: 600;
  font-size: 1.1rem;
  display: -ms-grid;
  display: grid;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section3 {
  padding: 100px 15px 65px;
  color: #eee;
}

.section3 .form-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
  background: #eee;
  max-width: 1050px;
  margin: 0 auto;
}

@media screen and (max-width: 850px) {
  .section3 .form-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.section3 .form-content .hours {
  padding: 24px;
  background: black;
}

.section3 .form-content .hours .hours-content {
  border: 1px dashed #b6b6b6;
  padding: 20px 0;
}

.section3 .form-content .hours .hours-content h3 {
  font-family: Allura, cursive;
  font-size: 2.5rem;
  font-weight: 100;
  color: #a67245;
}

.section3 .form-content .hours .hours-content h4 {
  font-family: Poppins, serif;
  margin-top: -16px;
  letter-spacing: 2px;
  font-size: 1.3rem;
}

.section3 .form-content .hours .hours-content img {
  margin-top: 25px;
}

.section3 .form-content .hours .hours-content h5 {
  text-transform: uppercase;
  color: #a67245;
  font-family: Poppins, serif;
  font-weight: 100;
  font-size: 1.1rem;
  margin: 38px 0 12px;
}

.section3 .form-content .hours .hours-content p {
  font-size: 0.85rem;
}

.section3 .form-content .form-infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}

.section3 .form-content .form-infos h2 {
  font-family: Allura, cursive;
  font-size: 2.5rem;
  font-weight: 100;
  color: #a67245;
}

.section3 .form-content .form-infos h3 {
  color: #21201e;
  margin-top: -18px;
  font-family: Poppins, serif;
  font-size: 1.8rem;
}

.section3 .form-content .form-infos img {
  height: 25px;
  margin: 25px;
}

.section3 .form-content .form-infos .form-inputs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 30px;
}

@media screen and (max-width: 680px) {
  .section3 .form-content .form-infos .form-inputs {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.section3 .form-content .form-infos .form-inputs > * {
  padding: 10px 0;
  margin: 10px;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid #b6b6b6;
}

.section3 .form-content .form-infos button {
  border: none;
  border-radius: 50px;
  background: #21201e;
  color: #eee;
  padding: 16px 34px;
  letter-spacing: 4px;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.section3 .form-content .form-infos button:hover {
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.433);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.433);
}

.section4 {
  padding: 50px 20px 90px;
}

@media screen and (max-width: 680px) {
  .section4 {
    display: none;
  }
}

.section4 .events-container {
  max-width: 1000px;
  margin: 0 auto;
}

.section4 .events-container h2 {
  font-size: 2.5rem;
  color: #a67245;
  font-family: Allura, cursive;
  font-weight: 100;
}

.section4 .events-container h4 {
  letter-spacing: 2px;
  font-size: 2rem;
  font-weight: 900;
  color: #eee;
  margin-top: -12px;
  font-family: Poppins, serif;
}

.section4 .events-container img {
  margin: 30px 0;
}

.section4 .events-container .event-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 58% 42%;
      grid-template-columns: 58% 42%;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "a b" "c b";
  gap: 20px;
}

.section4 .events-container .event-grid .date-content {
  background: #21201e;
  height: 86px;
  width: 86px;
  margin: 0 auto;
  color: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  line-height: 22px;
}

.section4 .events-container .event-grid .date-content h6 {
  font-size: 1.7rem;
}

.section4 .events-container .event-grid .address {
  background: #eee;
}

.section4 .events-container .event-grid .address h3 {
  letter-spacing: 1px;
  font-size: 1.3rem;
  font-weight: 500;
  padding-left: 8px;
}

.section4 .events-container .event-grid .address p {
  font-size: 0.9rem;
  color: #b6b6b6;
  margin-top: 20px;
  letter-spacing: 1px;
}

.section4 .events-container .event-grid .address p i {
  margin-right: 3px;
  font-size: 0.7rem;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.section4 .events-container .event-grid .address p i:nth-child(2) {
  margin-left: 10px;
}

.section4 .events-container .event-grid .address h5 {
  letter-spacing: 2px;
  margin-top: 25px;
}

.section4 .events-container .event-grid .event-left {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 39% 61%;
      grid-template-columns: 39% 61%;
  text-align: left;
}

.section4 .events-container .event-grid .event-left .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section4 .events-container .event-grid .event-left .address {
  color: #21201e;
  padding: 30px 20px;
}

.section4 .events-container .event-grid .event-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
}

.section4 .events-container .event-grid .event-1 .date {
  background: url(../img/event-01.jpg) center/cover;
}

.section4 .events-container .event-grid .event-2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: c;
}

.section4 .events-container .event-grid .event-2 .date {
  background: url(../img/event-02.jpg) center/cover;
}

.section4 .events-container .event-grid .event-3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: b;
  background: url(../img/event-03.jpg) center/cover;
  padding: 25px;
}

.section4 .events-container .event-grid .event-3 .address {
  height: 100%;
  padding: 0 12px;
}

.section4 .events-container .event-grid .event-3 .address h3 {
  margin: 40px 0 15px;
}

.section4 .events-container .event-grid .event-3 .address h5 {
  padding: 45px 0;
}

.section5 {
  padding: 70px 0 230px;
  position: relative;
}

.section5:after {
  content: "";
  height: 350px;
  width: 100%;
  position: absolute;
  background: url(../img/gmap.jpg) center/cover;
  left: 0;
  bottom: 0;
}

.section5 .quote-container {
  background: #eee;
  z-index: 3;
  position: relative;
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  padding: 65px 70px;
  -webkit-box-shadow: 0 0 3px #333;
          box-shadow: 0 0 3px #333;
}

.section5 .quote-container:before {
  content: "";
  position: absolute;
  background: url(../img/avatar-02.jpg) center/cover;
  height: 60px;
  width: 60px;
  top: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50px;
}

.section5 .quote-container .text-container {
  line-height: 30px;
}

.section5 .quote-container .text-container:before {
  content: "❝";
}

.section5 .quote-container .text-container:after {
  content: "❞";
}

.section5 .quote-container .text-container:before, .section5 .quote-container .text-container:after {
  font-size: 1.5rem;
}

.section5 .quote-container h2 {
  margin: 30px 0 15px;
  font-family: Roboto, serif;
  font-weight: 100;
}

.section5 .quote-container p {
  color: #a67245;
}

footer {
  background: url(../img/bg-footer.jpg) center/cover;
  text-align: left;
  padding: 65px 32px;
  color: #eee;
}

@media screen and (max-width: 680px) {
  footer {
    background: none;
  }
}

footer .footer-content {
  max-width: 1000px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

@media screen and (max-width: 680px) {
  footer .footer-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

footer .footer-content .left-part {
  padding-right: 30px;
  line-height: 30px;
}

@media screen and (max-width: 680px) {
  footer .footer-content .left-part {
    display: none;
  }
}

footer .footer-content .left-part h2 {
  font-family: Allura, cursive;
  font-size: 2.5rem;
  font-weight: 100;
  color: #a67245;
  margin-bottom: 15px;
}

footer .footer-content .left-part p {
  font-size: 0.9rem;
  color: #b6b6b6;
}

footer .footer-content .right-part {
  padding-left: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

@media screen and (max-width: 680px) {
  footer .footer-content .right-part {
    padding-left: 20px;
  }
}

footer .footer-content .right-part h3 {
  font-size: 0.85rem;
}

footer .footer-content .right-part input {
  margin-top: 15px;
  background: none;
  border: 1px solid rgba(166, 114, 69, 0.151);
  padding: 7px 13px;
  width: 250px;
}

@media screen and (max-width: 680px) {
  footer .footer-content .right-part input {
    width: 150px;
  }
}

footer .footer-content .right-part .follow-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

@media screen and (max-width: 680px) {
  footer .footer-content .right-part .follow-us h3 {
    display: none;
  }
}

footer .footer-content .right-part .follow-us ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #595956;
  font-size: 0.8rem;
  width: 200px;
  cursor: pointer;
}

footer .footer-content .right-part .follow-us ul i {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

footer .footer-content .right-part .follow-us ul i:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
/*# sourceMappingURL=index.css.map */