footer {
  background: url(../img/bg-footer.jpg) center/cover;
  text-align: left;
  padding: 65px 32px;
  color: $white;

  @media screen and (max-width: 680px) {
    background: none;
  }

  .footer-content {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 50%;

    @media screen and (max-width: 680px) {
      grid-template-columns: 1fr;
    }

    .left-part {
      padding-right: 30px;
      line-height: 30px;

      @media screen and (max-width: 680px) {
        display: none;
      }

      h2 {
        font-family: $font1;
        font-size: 2.5rem;
        font-weight: 100;
        color: $color1;
        margin-bottom: 15px;
      }
      p {
        font-size: 0.9rem;
        color: $grey;
      }
    }
    .right-part {
      padding-left: 50px;
      display: grid;
      grid-template-rows: 1fr 1fr;

      @media screen and (max-width: 680px) {
        padding-left: 20px;
      }

      h3 {
        font-size: 0.85rem;
      }
      input {
        margin-top: 15px;
        background: none;
        border: 1px solid rgba(166, 114, 69, 0.151);
        padding: 7px 13px;
        width: 250px;

        @media screen and (max-width: 680px) {
          width: 150px;
        }
      }
      .follow-us {
        display: flex;
        margin-top: 50px;

        h3 {
          @media screen and (max-width: 680px) {
            display: none;
          }
        }

        ul {
          @include alignChildren(space-around);
          flex-wrap: wrap;
          color: #595956;
          font-size: 0.8rem;
          width: 200px;
          cursor: pointer;

          i {
            transition: 0.2s;

            &:hover {
              transform: scale(1.5);
            }
          }
        }
      }
    }
  }
}
