.section1 {
  display: grid;
  grid-template-columns: 50% 50%;
  background: $white;

  @media screen and (max-width: 680px) {
    grid-template-columns: 1fr;
  }

  .intro-text {
    margin: 15px;
    padding: 30px 15px;
    border: 1px dashed $color1;

    h2 {
      color: $color1;
      font-family: $font1;
      font-size: 2rem;
      font-weight: 500;
    }
    h3 {
      margin-top: -12px;
      font-family: $font2;
    }
    img {
      margin: 26px;
    }
    img:nth-of-type(2) {
      height: 70px;
      border-radius: 150px;
      margin-bottom: 8px;
    }
    h4 {
      font-family: $font2;
      font-weight: 100;
    }
    h5 {
      color: $grey;
      font-size: 0.7rem;
    }
  }
  .intro-pic {
    background: url(../img/store-01.jpg) center/cover;

    @media screen and (max-width: 680px) {
      display: none;
    }
  }
}
