form {
  display: grid;
  width: 50%;
  min-width: 300px;
  max-width: 600px;
  margin: 0 auto;
}
.success,
.error {
  width: 400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.success {
  background: green;
}
.error {
  background: red;
}
